PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
API_BASE_URL=http://localhost:5000
MONGODB_URI=mongodb+srv://vjha2647_db_user:vivekjha98997685@mentiicluster.4hwm4r6.mongodb.net/mentii
